.elementor-91
  .elementor-element.elementor-element-80c52bd:not(.elementor-motion-effects-element-type-background),
.elementor-91
  .elementor-element.elementor-element-80c52bd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2022/03/banner-bg.jpg");
  background-size: cover;
}
.elementor-91 .elementor-element.elementor-element-80c52bd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 160px 0px 220px 0px;
}
.elementor-91
  .elementor-element.elementor-element-80c52bd
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91
  .elementor-element.elementor-element-20403c3
  > .elementor-container {
  max-width: 750px;
}
.elementor-91 .elementor-element.elementor-element-95793bd {
  text-align: center;
}
.elementor-91
  .elementor-element.elementor-element-7b69229
  .sec-heading
  .sub-inner,
.elementor-91 .elementor-element.elementor-element-7b69229 .sec-heading {
  text-align: center;
}
.elementor-91 .elementor-element.elementor-element-7b69229 .sec-heading .title {
  font-size: 50px;
  margin: 0px 0px 20px 0px;
}
.elementor-91 .elementor-element.elementor-element-7b69229 .sec-heading p {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}
.elementor-91
  .elementor-element.elementor-element-7b69229
  > .elementor-widget-container {
  margin: -12px 0px 0px 0px;
}
.elementor-91 .elementor-element.elementor-element-d18bf4a .gamfi-button,
.elementor-91
  .elementor-element.elementor-element-d18bf4a
  .gamfi-view-btn.gamfi-view-btn2,
.elementor-91 .elementor-element.elementor-element-d18bf4a .gamfi-btn {
  text-align: center;
}
.elementor-91 .elementor-element.elementor-element-d18bf4a .gamfi-button i {
  margin-left: 10px;
}
.elementor-91
  .elementor-element.elementor-element-d18bf4a
  .gamfi-button
  .banner-btn,
.elementor-91 .elementor-element.elementor-element-d18bf4a .gamfi-btn a {
  color: #090a1a;
}
.elementor-91
  .elementor-element.elementor-element-d18bf4a
  .gamfi-button
  .banner-btn
  i,
.elementor-91 .elementor-element.elementor-element-d18bf4a .gamfi-btn a i {
  color: #090a1a;
}
.elementor-91
  .elementor-element.elementor-element-d18bf4a
  .gamfi-button
  .banner-btn
  i,
.elementor-91 .elementor-element.elementor-element-d18bf4a .gamfi-view-btn a i,
.elementor-91 .elementor-element.elementor-element-d18bf4a .gamfi-btn a i {
  font-size: 17px;
  line-height: 0px;
}
.elementor-91
  .elementor-element.elementor-element-d18bf4a
  .gamfi-button
  .banner-btn:hover
  .hover-shape1 {
  left: 42%;
}
.elementor-91 .elementor-element.elementor-element-eb8ab7c {
  padding: 0px 0px 0px 0px;
}
.elementor-91
  .elementor-element.elementor-element-d97ba2f
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-91 .elementor-element.elementor-element-dc0b7dd .heading-area {
  padding: 40px 0px 0px 0px;
}
.elementor-91
  .elementor-element.elementor-element-25b99cd:not(.elementor-motion-effects-element-type-background),
.elementor-91
  .elementor-element.elementor-element-25b99cd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #090b1a;
}
.elementor-91 .elementor-element.elementor-element-25b99cd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-91
  .elementor-element.elementor-element-25b99cd
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91
  .elementor-element.elementor-element-7cd3699:not(.elementor-motion-effects-element-type-background),
.elementor-91
  .elementor-element.elementor-element-7cd3699
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #090b1a;
}
.elementor-91 .elementor-element.elementor-element-7cd3699 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-91
  .elementor-element.elementor-element-7cd3699
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91
  .elementor-element.elementor-element-90bd497
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-91
  .elementor-element.elementor-element-d90160a
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-91
  .elementor-element.elementor-element-0afd11d
  .gamfi-tokenomics-section {
  padding: 110px 0px 85px 0px;
}
.elementor-91 .elementor-element.elementor-element-0afd11d .sec-heading {
  padding: 0px 0px 22px 0px;
  text-align: left;
}
.elementor-91
  .elementor-element.elementor-element-2cc50b8:not(.elementor-motion-effects-element-type-background),
.elementor-91
  .elementor-element.elementor-element-2cc50b8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #0a0b1a;
}
.elementor-91 .elementor-element.elementor-element-2cc50b8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-91
  .elementor-element.elementor-element-2cc50b8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-91
  .elementor-element.elementor-element-54a9937
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
@media (max-width: 1024px) {
  .elementor-91 .elementor-element.elementor-element-80c52bd {
    padding: 120px 0px 200px 0px;
  }
  .elementor-91
    .elementor-element.elementor-element-7b69229
    .sec-heading
    .title {
    font-size: 40px;
  }
  .elementor-91 .elementor-element.elementor-element-dc0b7dd .heading-area {
    padding: 40px 0px 0px 0px;
  }
  .elementor-91
    .elementor-element.elementor-element-0afd11d
    .gamfi-tokenomics-section {
    padding: 75px 0px 45px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-91
    .elementor-element.elementor-element-7b69229
    .sec-heading
    .title {
    font-size: 22px;
    line-height: 1.45em;
    margin: 0px 0px 15px 0px;
  }
  .elementor-91 .elementor-element.elementor-element-7b69229 .sec-heading p {
    margin: 0px 0px 5px 0px;
  }
}
